
.board {

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: var(--title-text-size-medium);
        font-weight: normal;
        margin: 1rem;
    }
}
