*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .header_title {
    font-weight: normal;
    font-size: 3.2rem; }

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 20rem;
  width: 20rem; }
  .square:focus {
    outline: none; }

.board {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .board-title {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 1rem; }

.hand {
  display: flex;
  flex-direction: column;
  margin: 10rem;
  align-items: center; }
  .hand-title {
    font-size: 2.4rem;
    font-weight: normal; }
  .hand-content {
    margin-top: 2rem; }
